:root {
    --font-base: 'Outfit', sans-serif;
    
    --color-white: hsl(0,0%,100%);
    --color-light-gray: hsl(212,45%,89%);
    --color-grayish-blue: hsl(220,15%,55%);
    --color-dark-blue: hsl(218,44%,22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: var(--color-light-gray);
}